@import "../../../../../assets/styles/scss/variables.scss";

.date-button-selected {
  transition: all 0.2s ease;
  box-shadow: 0px 0px 50px -5px $v-primary !important;
}

::ng-deep .timelineSelect {

  .mdc-text-field--outlined .mdc-notched-outline{
    background-color: $v-primary !important;
    border-radius: $dynamic_border_radios_button;
    z-index: 0;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: transparent !important;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    z-index: 1;
  }

  .mat-mdc-select-arrow {
    color: $v-white !important;
  }

  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }

}
