<nav id="sticky-parallax-header" class="w-100 d-none d-lg-flex">

  <div class="position-absolute background-image" style="top: 0; bottom: 0; opacity: 0.5; width: 105%;"></div>

  <!-- Listado -->
  <div class="d-flex flex-wrap my-auto w-100">

    <!-- Nombre, titulo y skills -->
    <div class="d-flex flex-column justify-content-center col-md-6 px-5 mx-auto" style="max-width: 650px;">

      <!-- Nombre -->
      <p class="title-name m-0">Anibal A. Chafardet</p>

      <!-- Contenedor de la informacion -->
      <div class="info-container overflow-hidden pe-2">

        <!-- Titulo -->
        <p class="title-job fs-24">
          Programador Frontend
        </p>

        <!-- Skills -->
        <div class="d-flex flex-wrap skills-array">

          <p class="col-12 fs-18">
            Tecnologias que manejo:
          </p>

          <div class="w-100 overflow-auto d-flex gap-3 hiddeScrollBar">

            <img *ngFor="let skill of skillsArray" style="width: 70px;"
            [src]="skill.imgurl" [alt]="skill.name" [matTooltip]="skill.name">

          </div>

        </div>

      </div>

    </div>

    <!-- Descripcion y links -->
    <div class="col-md-6 grid-options-container">

      <!-- Contenedor de la descripcion -->
      <div class="description d-flex align-items-center justify-content-center">
        <p class="m-0 fs-16" style="max-width: 500px;">
          Se utilizar correctamente varias lenguajes de programacion y siempre estoy dispuesto a aprender mas. Tengo experiencia tanto en el desarrollo frontend como en el backend, aunque me he dedicado mas al primero.
          <br>
          <br>
          Considero que no hay mejor forma para aprender que haciendo el codigo, por esto mismo me he desenpeñado en diversas areas y labores que, en mi opinion, me han dado una vista bastante amplia de lo que es la programacion y el desarrollo de productos digitales.
        </p>
      </div>

      <!-- Contenedor de los links -->
      <div class="links-container">

        <a href="#project-carrusell" class="link">Proyectos</a>

        <a href="#timeline" class="link">Experiencia</a>

        <a href="#contact-form" class="link">Contacto</a>

      </div>

    </div>

  </div>

</nav>

<nav class="w-100 d-flex d-lg-none justify-content-end p-3 cmm-bg-black" style="z-index: 101; position: fixed; top: 0;">

  <button mat-button [matMenuTriggerFor]="beforeMenu" class="p-0">
    <mat-icon class="cmm-txt m-0">menu</mat-icon>
  </button>

  <mat-menu #beforeMenu="matMenu" xPosition="before">

    <div class=" d-flex flex-column px-3 gap-3">

      <a href="#project-carrusell" class="link">Proyectos</a>

      <a href="#timeline" class="link">Experiencia</a>

      <a href="#contact-form" class="link">Contacto</a>

    </div>

  </mat-menu>

</nav>

<section class="w-100 d-flex d-lg-none flex-wrap my-auto pt-5 position-relative overflow-hidden">

  <div class="position-absolute background-image" style="top: 0; bottom: 0; opacity: 0.4; width: 200%;"></div>

  <!-- Nombre, titulo y skills -->
  <div class="d-flex flex-column justify-content-center col-12 px-3 mb-4 position-relative">

    <!-- Nombre -->
    <p class="fs-26 text-center m-0">Anibal A. Chafardet</p>

    <!-- Contenedor de la informacion -->
    <div class="overflow-hidden pe-4">

      <!-- Titulo -->
      <p class="fs-18 text-center mb-4">
        Programador Frontend
      </p>

      <!-- Skills -->
      <div class="w-100 overflow-auto d-flex gap-3">

        <img *ngFor="let skill of skillsArray" style="width: 100px;"
        [src]="skill.imgurl" [alt]="skill.name" [matTooltip]="skill.name">

      </div>

    </div>

  </div>

  <!-- Contenedor de la descripcion -->
  <div class="d-flex align-items-center justify-content-center p-3 position-relative">
    <p class="m-0 fs-20 text-center">
      Se utilizar correctamente varias lenguajes de programacion y siempre estoy dispuesto a aprender mas. Tengo experiencia tanto en el desarrollo frontend como en el backend, aunque me he dedicado mas al primero.
      <br>
      <br>
      Considero que no hay mejor forma para aprender que haciendo el codigo, por esto mismo me he desenpeñado en diversas areas y labores que, en mi opinion, me han dado una vista bastante amplia de lo que es la programacion y el desarrollo de productos digitales.
    </p>
  </div>

</section>
