<div class="container-full">

  <!-- Navbar -->

  <!-- Container -->
  <mat-drawer-container class="position-relative">

    <!-- Container and Footer -->
    <mat-drawer-content>

      <!-- Contenedor del componente de la vista -->
      <div id="page-container" class="overflow-hidden" style="min-height: 87vh;">

        <!-- Area para colocar el componente correspondiente segun la ruta -->
        <router-outlet></router-outlet>

      </div>

      <!-- Footer -->

    </mat-drawer-content>

  </mat-drawer-container>

</div>
